/build
**/target
*~
*.swp
*.jar
*.zip
.idea
*.iml
.gitignore
.gitattributes
/target
/sand
/nbproject/
/javadoc
.classpath
**/.settings
**/.classpath
**/.project
.git
.project
.DS_Store
docs/.DS_Store
